.test{
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 0.1em;
  background-color: gray;
  
}




.border{
  border: 1px black;


}

.title{
  margin-right: 10px;
}

img{
  border-radius: 30px;
  border: 2px black;
  width: 20px;
  height: 20px;
  margin: 10px;
}

h1{
  font-size: medium;
}

body{

  margin: 0px 0px 0px 0px;

}



canvas{
  position: fixed;
  top: 0;
  left:50vw;
  height: 100vh;
  width: 50vw;
  border:1px solid black;
}

body{
  margin: 0%;
}

html, body {margin: 0; height: 100%}

